.jumbotron{
  position: relative;
  z-index:-2;
  height: auto;


}

#video-background { 
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  width:100%;
  min-height: 500px;
}

.HeroText {
  min-height: 300px;
}

.box {
  background-color: white;
  width: 100%;
  z-index: -1;

}

.display-4 {
  font-family: 'Oswald', sans-serif;
  }

.lead {
  font-family: 'Quattrocento', serif;
  }

.navbar-brand img{
  height: 40px;
  }

.navbar-dark {
background-color: #0B7A75; 
  }

.btn-primary {
  background-color: #0B7A75;
  }

  body {
    font: 20px Quattrocento, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
